body{
    transition: .2s;
}
.light .toggle .ball{
    background: #151d2a;
}
#toggle{
    display: none;
}
.light{
    background: #fafafa;
}
.toggle .bxs-moon{
    font-size: 50px;
}
.dark{
    background: #0d121a;
}
.dark .toggle .bxs-moon{
    color: #fafafa;
}
.dark .toggle .ball{
    background: #fafafa;
}
.dark .home_name{
    background-color: #0d121a;
    color: #fafafa;
}
.dark .title{
    color: #fafafa;
    border-bottom:5px solid #fafafa;
}
.dark h2{
    color: #fafafa;
}
.dark .image{
    filter: invert(100%);
}
.dark .home{
    filter: invert(100%);
}
@media(prefers-color-scheme:dark){
    body{
        background: #0d121a;
    }
    body .toggle .bxs-moon{
        color: #fafafa;
    }
    body .toggle .ball{
        background: #fafafa;
    }
    body .home_name{
        background-color: #0d121a;
        color: #fafafa;
    }
    body .title{
        color: #fafafa;
        border-bottom:5px solid #fafafa;
    }
    body h2{
        color: #fafafa;
    }
    body .image{
        filter: invert(100%);
    }
    body .home{
        filter: invert(100%);
    }
}