.home_name{
    font-size: 100px;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    background-color: #ffff;
    height: 110px;
}
.icon{
    width: 90px;
    height: 90px;
}
.searchBox{
    float: right;
}
.slide{
    margin-top: 30px;
}
.button{
    width: 50px;
    height: 30px;
}
.kinds_img{
    width: 35px;
    height: 35px;
    font-size:40px;
}
.kinds{
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
.listInner{
    width: 53%;
}
.background{
    width: 170px;
    height: 210px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.id_img{
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 130px;
    height: 130px;
    background-color: #ffff;
    background-clip: content-box;
}
.manga{
    display: grid;
    grid-template-columns: auto 1fr;
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.author{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    /*margin-top: 5px;*/
}
a{
    color: black;
    text-decoration-line: none;
}
.ani{
    width: 100px;
    height: 100px;
    animation-name: box_ani;
    z-index: 1;
    margin-left: 170px;
    transform: scaleX(-1);
    animation-duration: 2s;
    animation-iteration-count: 1;/*infinite;*/
    animation-direction: alternate;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes box_ani{
    from{
        margin-left: 170px;
    }
    to{
        margin-left: 270px;
    }
}
@media(max-width:800px){
    .country{
        font-size: 30px;
        text-decoration: none;

        font-weight: bold;
    }
    .city{
        text-decoration: none;
        font-weight: bold;
    }
    .home_name{
        font-size: 55px;
        margin-bottom: 10px;
    }
    .text{
        margin-top: 9%;
        text-align: left;
    }
    .background{
        width: 150px;
        height: 190px;
    }
    .ani{
        width: 55px;
        height: 55px;
        margin-left: 50px;
        margin-top: 10px;
    }
    @keyframes box_ani{
        from{
            margin-left: 50px;
        }
        to{
            margin-left: 155px;
        }
    }
    .id_img{
        width:110px;
        height: 110px;
    }
    .slide{
        margin-top: 10px;
    }
}
