*{/*'*'=모든 선택자*/
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    transition: .2s;
}
.light .toggle .ball{
    background: #151d2a;
}
#toggle{
    display: none;
}
.light{
    background: #fafafa;
}
.dark{
    background: #0d121a;
}
.dark .toggle .bxs-moon{
    color: #fafafa;
}
.toggle .bxs-moon{
    font-size: 50px;
}
.dark .toggle .ball{
    background: #fafafa;
}
.dark .home_name{
    background-color: #0d121a;
    color: #fafafa;
}
.dark .kinds{
    color: #fafafa;
    /*filter: invert(100%);*/
}
.dark .ani{
    filter: invert(100%);
}
.dark .kinds_img{
    filter: invert(100%);
}
@media(prefers-color-scheme:light){
    body{
        background-color: white;
        color: black;
    }
}
@media(prefers-color-scheme:dark){
    body{
        background-color: black;
        color: white;
    }
    body .toggle .bxs-moon{
        color: #fafafa;
    }
    body .toggle .ball{
        background: #fafafa;
    }
    body .home_name{
        background-color: #0d121a;
        color: #fafafa;
    }
    body .kinds{
        color: #fafafa;
        /*filter: invert(100%);*/
    }
    body .ani{
        filter: invert(100%);
    }
    body .kinds_img{
        filter: invert(100%);
    }
}
