*{/*'*'=모든 선택자*/
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    transition: .2s;
}
.light .toggle .ball{
    background: #151d2a;
}
input{
    display: none;
}
.light{
    background: #fafafa;
}
.dark{
    height: 100%;
    transition: .2s;
}
.dark .toggle .bxs-moon{
    color: #fafafa;
}
.toggle .bxs-moon{
    font-size: 50px;
}
.dark .toggle .ball{
    background: #fafafa;
}
.dark h1{
    color: #fafafa;
}
.dark .list_title{
    border-bottom:5px solid #fafafa;
}
dl{
    font-size: 50px;
    text-align: center;
    text-decoration-line: none;
}
.dark a{
    color: #fafafa;
}
.dark .home{
    filter: invert(100%);
}
@media(prefers-color-scheme:light){
    body{
        background-color: white;
        color: black;
    }
}
@media(prefers-color-scheme:dark){
    body{
        background: #0d121a;
    }
    body .toggle .ball{
        background: #fafafa;
    }
    body h1{
        color: #fafafa;
    }
    body .list_title{
        border-bottom:5px solid #fafafa;
    }
    body a{
        color: #fafafa;
    }
    body .home{
        filter: invert(100%);
    }
    body .toggle .bxs-moon{
        color: #fafafa;
    }

}